/* CSS reset */
html,body,div,h1,h2,h3,h4,h5,h6,p { 
	margin:0;
	padding:0;
}


h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}


/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: yellow;
	font-weight: 400;
	font-size: 15px;
	/*color: #fff;*/
}

